.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 1000;
}

.website-name {
    font-weight: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding-right: 100px;

}

.main-logo-image {
    height: 80px;
    width: 90px;
    padding-left: 60px;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 60px;
}

.menu {
    text-decoration: none;
    font-weight: 1000;
    color: white;
    font-size: 20px;
}

.menu:hover {
    color: rgb(253, 122, 15);
    text-shadow: 0px 0px 5px white;
}

.menu-toggle {
    display: none;
}

.hamburger {
    cursor: pointer;
    color: white;
    display: none;
}

@media (max-width: 768px) {
    .main-container {
        flex-wrap: wrap;
        padding: 10px 20px;
        width: 95%;

    }

    .hamburger {
        display: block;
        font-size: 24px;
        padding-right: 80px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .menu-toggle:checked~.nav-menu {
        display: flex;
    }

    .menu-toggle:checked~.hamburger {
        content: "x";
    }

    .menu {
        font-size: 18px;
    }
}